# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ConsoleApp.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Revy\Desktop\SoftwareDev_1stSemester\DatabasesForDevelopers\SQL_Queries\1stCompulsory\ConsoleApp\.idea\.idea.ConsoleApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
